@model IEnumerable<Data.Models.FormRecord>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fields.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fields.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fields.Topic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fields.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fields.HasConsultant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fields.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fields.Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fields.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fields.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fields.HasConsultant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a href="/AdminPages/Evaluate/@item.Id">Рассмотреть</a>
            </td>
        </tr>
}
    </tbody>
</table>
